In [12]:
import pandas as pd
import numpy as np
df=pd.read_csv(r"C:\Users\NAIB\Downloads\archive (13)\Advertising.csv",index_col=False)
d=df.drop('Unnamed: 0',axis=1)
d.head(5)

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [13]:
x=d[['TV','Radio','Newspaper']]
y=d['Sales']

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [19]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(x_train,y_train)

LinearRegression()

In [21]:
print(reg.intercept_)
print(reg.coef_)

2.880255286331325
[0.04391531 0.20027962 0.00184368]

In [22]:
y_p=reg.predict(x_test)
y_p

array([10.05866652,  7.43318827,  6.95305695, 24.16874598, 11.98172029,
        6.54464708, 13.19426793, 14.90240334, 11.07675294, 16.25061663,
       23.0081158 ,  9.12072148, 10.29342297, 15.3709661 , 11.62396513,
       12.1057432 , 18.55030805, 10.85810888, 16.13879856, 17.20281404,
       24.25469939,  9.43869821, 15.13419408, 12.41283844,  5.66973859,
       15.23876681, 12.1878762 , 20.95164149, 13.22671807,  9.20954724,
       13.39812727, 21.61944517, 18.05938674, 21.14798547,  6.73582996,
        6.16799717,  7.98042607, 13.09083488, 14.86214078,  6.23597127,
       12.35246911,  9.19452235, 15.04717679, 16.23039254, 17.17240889,
       13.3341216 ,  3.68035786, 12.53946851, 15.93674769,  8.67881357,
       10.62459997, 19.5646526 , 18.3472282 , 15.24662975, 10.04846378,
        8.17344188, 21.49061088, 14.137309  , 16.29760212,  8.90502274])

In [24]:
new_df=pd.DataFrame({'predected':y_p,'actual':y_test})
new_df.head(5)

     predected  actual
18   10.058667    11.3
170   7.433188     8.4
107   6.953057     8.7
98   24.168746    25.4
177  11.981720    11.7

In [33]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
rscore=r2_score(y_test,y_p)
mae=mean_absolute_error(y_test,y_p)
mse=mean_squared_error(y_test,y_p)
print(rscore,mae,mse)

0.8649018906637793 1.2333759522850203 3.691394845698606